/*Paleta colores
azul #004182 - azul2 #225590 - rojo 1 #dc3e57 - rojo 2 #e1646e - amarillo #fbe4c9*/
* { 
    box-sizing: border-box;
    scrollbar-width: none;
}

header{
    align-items: center;
    justify-content: right;
    display: flex;
    padding: auto;
    margin-right: 10px;
    margin-top: 30px;

}

/* Línea decorativa */
header .line {
    position: absolute;
    top: 120px;
    right: 0;
    width: 0; /* Comienza desde 0 para animar el ancho */
    height: 2px;
    background: linear-gradient(#dc3e57, #e1646e);
    margin-bottom: 40px;

    /* Añadimos la animación */
    animation: drawLine 2s ease-in-out forwards; /* Cambia "2s" según la duración deseada */
}

/* Animación para la línea */
@keyframes drawLine {
    0% {
        width: 0; /* Comienza desde 0 */
    }
    100% {
        width: calc(30% - 22px); /* Termina en su tamaño original */
    }
}


/* efectos de blur */
.blob {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #1a7ae7;
    filter: blur(80px);
    opacity: 0.6;
    border-radius: 50%;
    z-index: -1; 
    animation-name: fadeIn
}

.blob1 {
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
}

.blob2 {
    background-color: #367bca;
    top: 30%;
    right: 30%;
}

.blob3 {
    bottom: 0;
    left: 0;
    width: 500px;
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

/* Línea decorativa que crece de izquierda a derecha */
.line2 {
    position: relative;
    bottom: 30px;
    left: 0;
    width: 0; /* Comienza desde 0 */
    height: 2px;
    background: linear-gradient(to right, #dc3e57, #e1646e); /* Asegura el gradiente correcto */
    
    /* Animación */
    animation: drawLineLeftToRight 2s ease-in-out forwards;
}

/* Animación para la línea */
@keyframes drawLineLeftToRight {
    0% {
        width: 0; /* Comienza desde 0 */
    }
    100% {
        width: calc(30% - 20px); /* Termina en el tamaño original */
    }
}



/* Main inicio ConsoleXpress */
.main_inicio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; 
    flex: 1;
    left: 5%;
}

/* Lado derecho inicio */
.derecha_inicio {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    flex: 1;
    align-items: flex-end;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 7%; /*Margen de arriba*/
}

/* Ajustes para el flex de inicio, main, derecha y semicuadrado, para visualizar en distintas pantallas */
@media all and (max-width: 800px) {
    .main_inicio {
        flex-direction: column; 
        align-items: center;
    }

    .header{
        flex-direction: column;
        align-items: center;
    }

    .derecha_inicio {
        align-items: end; 
        justify-content: end;
        width: 100%;  
    }

    .semicuadrado_rojo {
        position: relative;
        width: 100%; 
        max-width: 640px;
        height: auto; 
        margin: 0% 0;
        right: auto;
        bottom: auto;
    }
}

/* Formatos para textos */
.text_consoleXpress {
    color: white;
    font-size: 40px;
    font-family: 'League Spartan';
    animation: fadeIn 1.4s ease-out forwards; /* Aparece con un desvanecimiento */
    opacity: 0; /* Inicialmente invisible */
}

.text_descripcion {
    color: white;
    font-family: 'Comfortaa';
    font-size: 16px;
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 0.8s; /* Retraso para que se muestre después del título */
    opacity: 0; /* Inicialmente invisible */
}

/* Definir la animación de fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Comienza invisible */
    }
    100% {
        opacity: 1; /* Termina visible */
    }
}

/* Formato para deco de inicio, lado derecho */
.semicuadrado_rojo {
    background-color: #dc3e57;
    border-top-left-radius: 28px;
    width: 630px;
    height: 500px;
    margin: 0;
    bottom: 0;
    right: 0;
    align-self: flex-end; 
    margin-left: 60px;
    transition: all 0.2s;
}

/* Imagen consola */
.consola_img {
    align-self: center;
    position: relative;
    left: -50px;
    top: 80px;
    transition: transform 0.1s ease; /* Suaviza el movimiento */
}

/* Efecto hover adicional */
.consola_img:hover {
    filter: drop-shadow(0 0 4px #fbe4c9);
}


/*Animacion estrella*/
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita que las estrellas interfieran con los clics */
  }
  
  .star {
    position: absolute;
    width: 30px;
    height: 30px;
    animation: twinkle 2s infinite ease-in-out;
  }

  .star:nth-child(1) {
    width: 20px;
    height: 20px;
    top: 32%;
    left: 5%;
    animation-delay: 0s;
  }
  
  .star:nth-child(2) {
    top: -2%;
    left: 86%;
    animation-delay: 0.5s;
  }
  
  .star:nth-child(3) {
    top: 60%;
    left: 60%;
    animation-delay: 1s;
  }

  .star:nth-child(4) {
    width: 20px;
    height: 20px;
    top: 76%;
    left: 72%;
    animation-delay: 0.8s;
  }
  
  /* Efecto de destello */
  @keyframes twinkle {
    0%, 100% {
      opacity: 0.2;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }






.circle{
    right: 32%;
    width: 15px;
    height: 15px;
    background-color: #dc3e57;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px; 
}
  

/* icono de consoleXpress */
.icon_ConsoleXpress{
    display: flex;
    filter: brightness(0) invert(1);
    color: white;
    padding: 0;
    padding-right: 10px;
    justify-content: center;
    margin-left: 15px;   
}


/* Botones de inicio seccion y register- header */
.btn_login{
    display: inline-block;
    color: white;
    font-family: 'Comfortaa';
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #dc3e57, #e1646e);
    border-top: 0.5px solid #641e1e;
    border-left: 0.5px solid #641e1e;
    border-right: 0.5px solid #fbe4c9;
    border-bottom: 0.5px solid #fbe4c9;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px; 
}

.btn_login:hover{
    transition-duration: 0.3s;
    box-shadow: 0px 6px 12px #641e1e33;  
}

.btn_login:active {
    scale: 0.95;
}
  

.btn_register{
    display: inline-block;
    color: white;
    font-family: 'Comfortaa';
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    background: #225590;   
    border-top: 0.5px solid #404040;
    border-left: 0.5px solid #404040;
    border-right: 0.5px solid #fbe4c9;
    border-bottom: 0.5px solid #fbe4c9; 
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px; 
}

.btn_register:hover{
    transition-duration: 0.3s;
    box-shadow: 0px 6px 12px #04315e33;  
}

.btn_register:active {
    scale: 0.95;
}

/* Boton explorar */
.btn_explorar{ /*propiedades*/
    position: relative;
    font-family: 'Comfortaa';
    width: 200px;
    height: 60px;
    background-color: #04315e; 
    border: 1px solid #e0eaf2;
    display: flex;
    padding: 1rem; 
    text-align: left; /* text-left */
    color: #f5f5f5; /* text-gray-50 */
    font-size: 1rem; /* text-base */
    font-weight: bold; /* font-bold */
    border-radius: 0.5rem; /* rounded-lg */
    overflow: hidden;
    text-decoration: underline;
    text-underline-offset: 0.5rem; /* underline-offset-2 */
    transition: all 0.4s ease;
    gap: 36px;
}

.btn_explorar:hover {
    color: #ffe3b3; /* Tono crema claro */
    border-color: #ffe3b3; 
    text-underline-offset: 0.55rem;
    text-decoration-thickness: 2px;
    background: linear-gradient(0deg,#dc3e57,#a32034);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #e1646e;
    
}

.sparkle {
    width: 52px;
    height: 52px;
    margin-top: -12px;
    transition: all 800ms ease;
    z-index: 3;
}

.btn_explorar:hover .sparkle {
    transform: scale(1.2);
    
} 

.btn_explorar:hover::after {
    right: -2rem;
}


/*Categorias de las consolas*/
.categorias_inicio{
    display: flex;
    justify-content:space-between;
    justify-items: center;
    margin-top: 12%;
    margin-left: 1%;
    margin-right: 1%;
    
    
}

.catg1, .catg2, .catg3{
    font-family: 'Comfortaa';
    font-size: 14px;
    color: white;
    text-justify: distribute;

}

.catg_cons, .catg_cons_esp, .catg_cons_acc{
    filter: invert(1);
    width: 60px;
}


/* Footer 
footer {
    height: 60px;
    background-color: #04315e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}*/