body{
    font-family: 'Comfortaa';
}

/* Popover estilo rectangular y más ancho */
.popover-consola {
    display: none;
    position: fixed;
    top: 6%; /* Define posición inicial */
    left: 12%; /* Define posición inicial */
    width: 75%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Encabezado del popover */
.popover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: move;
}

/* Alineación horizontal de cada campo */
.popover-body .d-flex {
    display: flex;
    align-items: center;
}

.popover-body .col-form-label {
    width: 100px; /* Anchura de etiquetas */
    text-align: right;
}

/* Estilo del botón cerrar */
.popover-header .btn-close {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

