    /*CRUD CONSOLAS - FORMULARIO Y BASE DE DATOS DE PRODUCTOS CONSOLAS*/
/*SearchConsola*/
.custom-input {
    background-color: rgba(255, 255, 255, 0.7)  !important; 
    border: 1px solid rgba(220, 62, 87, 0.7) !important; 
    backdrop-filter: blur(10px); 
    color: black !important; 
}
.custom-input::placeholder {
    color: rgba(0, 0, 0, 0.7) !important; 
}

.custom-input:focus {
    background-color: rgba(225, 255, 255, 0.9) !important; 
    border-color: #dc3e57 !important; 
    box-shadow: 0 0 0 0.2rem rgba(220, 62, 87, 0.4) !important; 
}

/*CRUD CONSOLAS TABLA*/
table {
    font-size: 1rem;
    border-radius: 16px;
    overflow: hidden;  
        
}

.customTable {
    background: rgba(31, 31, 31, 0.8) !important;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

.customTable thead {
    background-color: rgba(19, 18, 18, 0.7);
    color: #ffffff;
    text-align: center;
}

.customTable thead th {
    padding: 15px;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.customTable tbody td {
    padding: 10px;
    font-size: 0.93rem;
    color: #eaeaea;
    text-align: center;
    background-color: rgba(31, 31, 31, 0.5);
}

.customTable tr:nth-child(even){background: rgba(31, 31, 31, 0.9);}

.customTable tbody tr:hover {
    background-color: rgba(228, 30, 60, 0.3);
    transition: background-color 0.3s ease;
}


