/* Personalizar ancho de la scrollbar */
::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

/* Color de fondo de la scrollbar */
::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-radius: 10px;
}


/* Color y diseño de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #202020;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

/* Color cuando se pasa el mouse por encima de la scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #0d0d0e;
}

/* Encabezado principal de la página */
/* Header */
header {
    background-color: #e1646e;
    padding: 0px 20px; /* Ajusta el padding según lo necesites */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    flex-wrap: wrap;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'League Spartan';
}

/* Logo alineado a la izquierda */
.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.logo img { 
    margin-right: 8px;
    height: 55px;
    width: 55px;
    color: white;
}

/* Contenedor de la barra de búsqueda */
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    margin-left: 315px;
}

/* Estilo del campo input de la barra de búsqueda */
.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    display: flex;
    flex-grow: 1;
    font-family: 'Comfortaa';
}

/* Icono de lupa en la barra de búsqueda */ 
.search-bar i {
    color: black;
}

/* Sección de usuario (alineada a la derecha) */
.user_user{
    display: flex;
    align-items: center;
}

.lblUser {
    margin-right: 10px;
    color: white;
}

/* Estilo icono de compra en el encabezado */
.btn_user_img{
    align-items: center;
    background: transparent;
    border: none;
    margin-left: 6px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_CompraMenu {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    margin-left: 6px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_CompraMenu:hover{
    background-color:  #dc3e57;
}

.btn_user_img svg,
.btn_CompraMenu svg{
    fill: white;
}

.btn_user_img:hover {
    background-color: #dc3e57;
}

/* Estilos para el menú de usuario */
.user_user {
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
}

.user-menu {
    display: none;
    position: absolute;
    top: 40px; /* Ajusta según el tamaño del botón de usuario */
    right: 0;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    min-width: 120px;
}

.user-menu .btn_logout, .btn_iniciarsesion, .btn_superuserCrudAdmi {
    width: 100%; 
    color: #333;
    text-align: left;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.user-menu:hover {
    background-color:  #ffffffe0;;
    color: white;
    border-radius: 8px;
}



/* Contenido principal de la página */
.content {
    padding: 20px;
}

/* Estilo del texto Productos disponibles */
.content h1 {
    color: white;
    display: flex;
    font-family: 'League Spartan';
    font-size: 29px;
}

/* Contenedor de la lista de productos */
.product-list .card-consola{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.content h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}


/*CONTENEDOR DE LA LISTA DE PRODUCTOS - TARJETAS consolas*/
.product-list {
    margin-top: 80px;
    padding: 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
 
}  

/* Clase que hace que las tarjetas se dispongan en columnas */
.product-list.column-view {
    flex-direction: column;
    align-items: flex-start; /* Centra las tarjetas cuando están en columnas */
}


/* Estilo de las cards */
.product-card {
    display: flex;
    align-items: center;
    background: #1a1919;
    border-radius: 16px;
    overflow: hidden;
    width: calc(49% - 19px); /* Ajusta el ancho para que dos tarjetas quepan por fila */
    margin-right: 31px; /* Espacio entre tarjetas */
    margin-bottom: 30px; /* Espacio entre filas */
    position: relative;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Ajuste para diseño en columnas */
.product-list.column-view .product-card {
    width: 100%; /* Las tarjetas ocupan todo el ancho en columnas */
    margin-right: 0; /* Sin espacio lateral */
}

/* Clase que hace que las tarjetas se dispongan en columnas */
.product-list.column-view {
    flex-direction: column; /* Disposición en columnas */
    align-items: flex-start; /* Tarjetas alineadas al inicio */
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
}

.product-card img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.05); 
}


/* Detalles del producto */
.details {
    padding: 20px;
    flex: 1;
}

/* nombre consola card */
.details h2 {
    font-size: 26px;
    margin: 0;
    font-family: 'League Spartan';
    color: white;
}

/* precio consola card */
.details .price {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin: 5px 0;
}

/* tipo categoría consola card */
.details .category {
    color: whitesmoke;
    font-size: 16px;
    margin: 10px 0;
    text-align: right;
}

.details p {
    font-family: 'Comfortaa', sans-serif;
    line-height: 1.4;
}

/* Botón de carrito */
.cart-btn {
    background-color: #e1646e;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

.cart-btn:hover {
    background-color: #004182; 
    transform: scale(1.1);
}

/* Variables para el chatbot */
:root {
    --sz-btn: 70px;
    --space: calc(var(--sz-btn) / 5.5);
    --gen-sz: calc(var(--space) * 2);
    --sz-text: calc(var(--sz-btn) - var(--gen-sz));
}

/* Estilo del botón de Chatbot */
.chatbot-btn {
    position: fixed;
    bottom: 37px;
    right: 40px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px 25px; /* Ajuste de padding para dar un tamaño adecuado */
    background: linear-gradient(45deg, #efad21, #ffd60f); 
    border-radius: 8px; /* Bordes redondeados en la parte superior */
    transition: background-color 0.3s ease;
    z-index: 1;
}

/*esquina del mensaje simulacion triangulo*/
.chatbot-btn::after {
    content: "";
    position: absolute;
    bottom: -15px; /* Ubicamos la punta justo debajo del botón */
    left: 6px; /* Alineamos la punta a la izquierda */
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #efad21; /* Color de la punta que coincide con el fondo del botón */
}

.chatbot-btn:hover {
    background: linear-gradient(45deg, #225590, #04315e);
    border: 1px solid #ffd60f;
}

.chatbot-btn:active {
    transform: scale(0.95);
}

/* Estilo inicial de custom-icon (visible por defecto) */
.custom-icon {
    width: 24px;
    height: 24px;
    animation: blink 1.5s infinite;
    transition: opacity 0.3s ease;
}

/* Estilo inicial de custom-chatbot (oculto por defecto) */
.custom-chatbot {
    width: 24px;
    height: 24px;
    opacity: 0;
    position: absolute;
    transform: scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animación de parpadeo */
@keyframes blink {
    0%, 60% { opacity: 1; }
    50% { opacity: 0.30; }
}

/* Al pasar el mouse, ocultar el icono inicial y mostrar el icono del chatbot */
.chatbot-btn:hover .custom-icon {
    opacity: 0;
    animation: none; /* Detiene el parpadeo */
    transition: opacity 0.3s ease;
}

.chatbot-btn:hover .custom-chatbot {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Cambia el color del texto al pasar el mouse */
.chatbot-btn:hover {
    color: #e0e0e0;
}



.custom-text {
  font-size: var(--sz-text);
  font-weight: 800;
  color: white;
  transition: opacity 0.2s;
}

.chatbot-btn:hover .custom-text {
  opacity: 0;
}


/* Estilo del contenedor de categorías */
.category-dropdown {
    position: relative;
    display: inline-block;
    margin-right: -250px;
}

/* Estilo del botón de categorías */
.category-button {
    background-color: #e1646e; 
    color: white;
    font-size: 17px;
    font-family: 'Comfortaa';
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #c54f57;
}

/* Contenido desplegable categorías */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Estilo de las opciones dentro del menú desplegable de categorías */
.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Comfortaa';
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar el contenido del dropdown cuando se hace hover en el contenedor */
.category-dropdown:hover .dropdown-content {
    display: block;
}


/*MODAL O MENU DESPLAZABLE DE COMPRAS*/

    /* Estilos del Menú Deslizable */
    .cart-menu {
        position: fixed;
        top: 0;
        right: -400px; /* Oculto inicialmente */
        width: 400px;
        height: 100vh;
        background: hsla(0, 0%, 95%, 0.80);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 1050;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }

        .cart-menu.show {
        right: 0; /* Se muestra cuando se añade la clase .show */
    }

    /* Cabecera del menú */
    .cart-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #dc3e57;
        background: hsla(0, 0%, 95%, 0.80);
        color: #dc3e57;
    }

    .cart-title {
        flex: 1;
        text-align: center;
        font-weight: bold;
    }
    
    /* Botón de cierre */
    .close-cart {
        background: none;
        border: none;
        color: #dc3e57;
        font-size: 1.5em;
        cursor: pointer;
        padding: 0;
    }

    .close-cart:hover {
        color: red;
    }

    /* Cuerpo del menú */
.cart-menu-body {
    flex: 1;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    padding: 10px;
}

.menubody{
    flex: 1;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    filter: blur(10px);
    padding: 10px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos de los ítems */
.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #1f1e1e;
}

.cart-item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #0c0c0c;
}

/* Botón de eliminar */
.remove-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-left: auto; /* Coloca el botón al extremo derecho */
}

/* Ícono SVG */
.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

/* Efectos al pasar el cursor */
.remove-btn:hover {
    width: 80px; /* Reduce el ancho máximo al hover */
    height: 40px; /* Reduce la altura máxima al hover */
    border-radius: 20px; /* Ajusta el borde redondeado */
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.remove-btn:hover .svgIcon {
    width: 30px; /* Reduce el tamaño del ícono */
    transition-duration: 0.3s;
    transform: translateY(50%); /* Ajusta la posición al expandir */
}

.remove-btn::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.remove-btn:hover::before {
    font-size: 10px; /* Reduce el tamaño del texto al hover */
    opacity: 1;
    transform: translateY(25px); /* Ajusta la posición del texto */
    transition-duration: 0.3s;
}



.quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-control button {
    background: #dc3e57;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.quantity-control button:hover {
    background: #b12a3c;
}
    
    .cart-menu-footer {
        margin-top: auto;
        padding: 10px;
        display: flex;
        flex-direction: column; /* Apilar etiquetas y botón verticalmente */
        align-items: center; /* Centrar el botón horizontalmente */
        background-color: #0c0c0c;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    }
    
    .labels-container {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        display: flex;
        justify-content: space-between; /* Coloca las etiquetas en los extremos */
        margin-bottom: 10px; /* Espacio entre las etiquetas y el botón */
    }
    
    .compramenu {
        text-align: left; /* Alinea el texto de la etiqueta a la izquierda */
    }
    
    .total-compra {
        text-align: right; /* Alinea el texto de la etiqueta a la derecha */
    }
    
    .btn-checkout {
        width: 130px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(15, 15, 15);
        border: none;
        color: white;
        font-weight: 600;
        gap: 8px;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
    }
    
    .svgIcon {
        width: 16px;
    }
    
    .svgIcon path {
        fill: rgb(253, 247, 247);
    }
    
    /* Animación del pseudo-elemento ::before */
    .btn-checkout:before {
        width: 130px;
        height: 130px;
        position: absolute;
        content: "";
        background-color: rgb(253, 251, 251);
        border-radius: 50%;
        left: -100%;
        top: 0;
        transition: transform 0.3s ease, border-radius 0.3s ease;
        mix-blend-mode: difference;
    }
    
    .btn-checkout:hover:before {
        transform: translate(100%, -50%);
        border-radius: 0;
    }
    
    .btn-checkout:active {
        transform: translate(5px, 5px);
        transition-duration: .3s;
    }

  /* From Uiverse.io by andrew-demchenk0 */ 
.limpiar-carrito {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .limpiar-carrito, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .limpiar-carrito.button__text {
    transform: translateX(30px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .limpiar-carrito .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .limpiar-carrito .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .limpiar-carrito:hover {
    background: var(--bg-color);
  }
  
  .limpiar-carrito:hover .button__text {
    color: transparent;
  }
  
  .limpiar-carrito:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .limpiar-carrito:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }
  

