/* Estilos globales */
body {
    font-family: 'League Spartan', sans-serif; /* Tipografía */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fondo gris claro */
}

/* Encabezado */
.header {
    background-color: #b71c1c; /* Fondo rojo oscuro */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px; /* Espacio entre imagen y texto */
}

.logo span {
    color: whitesmoke; /* Texto color blanco */
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold;
}

/* Barra de búsqueda */
.search-bar {
    padding: 10px;
    font-size: 16px;
    width: 50%; /* Ancho de la barra */
    border: none;
    border-radius: 5px;
}

.admin i {
    color: white;
    margin-left: 20px;
    font-size: 24px; /* Tamaño iconos */
}

/* Contenedor principal */
.container {
    padding: 20px;
}

/* Título de la sección */
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 28px; /* Tamaño del título */
    color: #333;
    margin-bottom: 20px;
}

/* Grilla de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre productos */
}

/* Tarjetas de productos */
.product-card {
    background-color: white; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px;
    text-align: center;
    position: relative;
}

/* Imagen del producto */
.product-card img {
    width: 100%; /* Ancho completo de la tarjeta */
    border-radius: 10px; /* Redondeado de la imagen */
    margin-bottom: 15px;
}

.product-card h3 {
    font-family: 'League Spartan', sans-serif;
    font-size: 22px; /* Tamaño del nombre del producto */
    margin-bottom: 10px;
}

/* Precio del producto */
.product-card .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #e57373; /* Color rojo */
}

/* Categoría del producto */
.product-card .category {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Descripción del producto */
.product-card .description {
    font-size: 14px;
    color: #777; /* Color gris claro */
}

/* Efecto hover en las tarjetas */
.product-card:hover {
    transform: scale(1.05); /* Agranda la tarjeta ligeramente */
    transition: 0.3s ease-in-out; /* Suaviza el efecto */
}


