body {
    margin: 0;
    font-family: 'Comfortaa';
    
}

/* Contenedor principal que divide la pantalla en dos paneles (izquierdo y derecho) */
.container {
    display: flex;
    height: 100vh;
   
}
.left-panel {     
    
    background: linear-gradient(to bottom right, #004182, #004182 );

    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos específicos para el título dentro del panel izquierdo */
.left-panel h1 {       
    font-size: 32px;      
    margin-bottom: 20px;  
    text-align: center;
    font-family: 'League Spartan'; 
    margin-top: -4px; 
}

/* Estilo del ícono en el panel izquierdo */
.left-panel .icon {
    font-size: 50px;
    margin-bottom: 20px;
    animation: glow 1.5s infinite alternate;
}

/* Estilo de la imagen del icono en el panel izquierdo */
.left-panel img {
    width: 84px;
    height: 82px;
    filter: brightness(0) invert(1); /* Cambia el icono a color blanco */
   
}

/* Estilos de los campos de entrada de usuario y contraseña */
.left-panel input {
    width: 74%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.left-panel input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilos de los botones dentro del panel izquierdo */
.left-panel .btn {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Comfortaa';
}

/* Estilos específicos para el botón de "Ingresar" */
.left-panel .btn.ingresa {
    background-color: #e1646e;
    color: #fff;
    width: 58%;
    padding: 12px 0;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.left-panel .btn.ingresa:hover {
    background-color: #d4535d;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.left-panel .btn.ingresa:active {
    background-color: #c3444d;
    transform: translateY(0);
}

/* Estilos para el enlace de "¿Olvidaste la contraseña?" */
.left-panel .forgot-password {
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Comfortaa';
    margin-left: -50%;
   

}

/*  para centrar los elementos del input */
.left-panel form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Panel derecho que contiene una imagen de fondo y el botón de registro */
.right-panel {
    width: 100%;
    
    background-image: url("{% static 'consola_login.jpg' %}");
        background-repeat: no-repeat;
        background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.welcome-message {
    text-align: center;
    position: relative;
    top: -60px; 
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: 'League Spartan';
    margin-left: -290px;
}

/* Estilo del botón de "Regístrate" en el panel derecho */
.right-panel .btn_registrate {
    position: absolute;
    top: 33px;
    right: 32px;
    background-color: rgba(64, 64, 64, 0.9);
    color: #fff;
    padding: 10px 30px;
    border: 1.5px solid #202020;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.right-panel .btn_registrate:hover {
    background-color: rgba(80, 80, 80, 0.9);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.right-panel .btn_registrate:active {
    background-color: rgba(50, 50, 50, 0.9);
    transform: scale(1);
}
