* {
    box-sizing: border-box;
    scrollbar-width: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Frase */
.lbl_spanFraseLg {
    position: absolute;
    right: 110px;
    bottom: 37px;
    color: white;
    font-family: 'League Spartan';
    font-size: 14px;
}

.line1 {
    display: block; 
    font-size: 1.8em; 
    font-weight: bold; 
}

.line2 {
    display: block; 
    font-size: 1.2em; 
    margin-top: 10px; 
}

/* Botón de Ingresar */
.btn_ingresa {
    position: absolute;
    top: 33px;
    right: 32px;
    background-color: rgba(242, 242, 242, 0.902);
    color: #dc3e57;
    padding: 10px 30px;
    border: 1.5px solid #202020;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Comfortaa';
    text-decoration: none; 
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn_ingresa:hover {
    background-color:rgba(242, 242, 242, 0.902);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


 /* Card de login */
 .card-login {
    width: 88vh;
    height: 100vh;
    border: 1px solid white;
    border-radius: 0 50px 0 0; /* Redondear la esquina superior derecha */
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    user-select: none;
    padding: 40px 20px;
   
}

.card_background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 95%, 0.80);
    backdrop-filter: blur(6px); 
    border-radius: 0 50px 0 0; /* Redondear la esquina superior derecha */
    z-index: 1;
}


.content-login {
    position: relative;
    z-index: 3;
}

.logo_login .icon {
    width: 80px;
    height: 80px;
    color: #dc3e57;
    position: relative;
    top: 30px; /* Ajusta el valor para mover el icono más hacia abajo */
}


/* Lbl login */
.lbl_login {
    font-family: 'League Spartan';
    background-image: linear-gradient( #004182, #dc3e57);
    background-clip: text;
    color: transparent;
    margin-top: 50px;
    
}

/* Línea decorativa */
.line {
    margin-bottom: 50px;
    width: calc(39% - 10px);
    height: 2.5px;
    background: linear-gradient(to right, #004182, #dc3e57, #e1646e);
    margin-left: 162px;
}

/* Inputs de formulario */
form input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 90%;
    font-family: 'Comfortaa';
    
}

form input:focus {
    outline: none;
}

form input:focus-within {
    border: 1.5px solid #dc3e57;
}

/* Estilos para el enlace "Olvidaste la contraseña?" */
.forgot-password {
    text-decoration: underline; 
    color: black; 
    display: inline-block;
    margin-top: 7px; 
    font-size: 14px;
    font-family: 'comfortaa';
    margin-top: 10px;
    left: -50px; 
    position: relative;

  }

/* Estilo del botón de ingresar */
form .btn-login {
    position: relative;
    width: 40%; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.7rem; 
    padding-inline: 1.25rem; 
    background-color: #dc3e57;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 20px;
    top: 55px;
    left: -104px; 
}

form .btn-login:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

form .btn-login:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  form .btn-login::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  } 