<form action="" data-action="nuevo" data-idconsola="0">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Agregar Consola</h3>
            </div>

            <div class="ms-auto">
                <button ><button type="button" data-form="consolas" class="btn-close btn-close-white" aria-label="Close"></button></button>
            </div>

            <div class="card-body">
                <div class="row p-1">
                    <div class="col-3 col-md-2">IMAGEN </div>
                    <div class="col-9 col-md-4">
                        <input type="text" class="form-control" id="txtCodigoAlumno" name="txtCodigoAlumno" required>
                    </div>
                </div>
            </div>


        </div>
    </div>
</form>