<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
   integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Fuentes utilizadas -->
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Admin/style_crud.css' %}">
    <link rel="website icon" href="{% static 'icon_consola.png' %}" type="image/png">

    <title>Crud ConsoleXpress</title>
</head>
<body>
    <!-- Header: Logo, barra de búsqueda y perfil Admin -->
    <div class="header">
        <div class="logo">
            <!-- Logo de ConsoleXpress -->
            <img alt="ConsoleXpress Logo" height="50" src="{% static 'icono_ConsoleXpress.svg' %}" width="40"/>
            <span>ConsoleXpress</span>
        </div>
        <div class="search-bar">
            <!-- Barra de búsqueda -->
            <input placeholder="Buscar" type="text"/>
            <i class="fas fa-search"></i>
        </div>
        <div class="admin">
            <!-- Sección Admin -->
            <span style="color: white;">Admin</span>
            <i class="fas fa-user" style="color: white;"></i>
        </div>
    </div>

    <!-- Contenido principal: Título de la página y productos -->
    <div class="content">
        <!-- Título de la sección -->
        <h1>Productos agregados de ConsoleXpress</h1>

        <!-- Sección de categorías -->
        <div class="categories">
            <span>Categorías</span>
            <i class="fas fa-chevron-down"></i>
        </div>

        <!-- Lista de productos -->
        <div class="product-list">
            <!-- Tarjeta de producto 1 -->
            <div class="product-card">
                <div class="actions">
                   <!-- <button><i class="fas fa-plus"></i></button>-->
                    <button class="btn_plus"><i class="fas fa-plus"></i></button>
                </div>
                <!-- Imagen de producto -->
                <img alt="Product Image" height="150" src="https://img.freepik.com/foto-gratis/vista-controlador-videojuegos-3d_23-2151005755.jpg?w=826&t=st=1728005864~exp=1728006464~hmac=37131993c2fb7c7ff113f98c05fef11fc637031eec311bbcd7495943db7771e1" width="150"/>
                <div class="details">
                    <div class="line"></div>
                    <div class="circle"></div>
                    <h2>Nombre</h2>
                    <p class="price">$000</p>
                    <p class="category">Categoria I</p>
                    <p>Consola multicolor.</p>
                </div>
            </div>

            <!-- Tarjeta de producto 2 -->
            <div class="product-card">
                <div class="actions">
                    <button class="btn_pen"><i class="fas fa-pen"></i></button>
                    <button class="btn_delete"><i class="fas fa-trash"></i></button>
                </div>
                <img alt="Nintendo switch oled" height="150" src="https://storage.googleapis.com/a1aa/image/IGYeeZGaBTg1TkgWoiTClrvPUEooA88pJtrwsfc37jFMb5FnA.jpg" width="150"/>
                <div class="details">
                    <div class="line"></div>
                    <div class="circle"></div>
                    <h2>Nintendo switch oled</h2>
                    <p class="price">$400</p>
                    <p class="category">Categoria especial</p>
                    <p>Consola especial, color rosa con blanco.</p>
                </div>
            </div>
        </div> <!-- cierra product-list -->


    </div>  <!-- cierra content -->



    <script src="script_admi.js"></script>
</body>
</html>