{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Fuentes utilizadas -->
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'Inicio/style_inicioce.css'%}">
    <link rel="website icon" href="{% static 'icon_consola.png' %}" type="image/png">

    <!-- Nombre e icono de sitio web -->
    <title>Inicio ConsoleXpress</title>

<style>
    /* Cuerpo de sitio inicio */
    body {
    margin: 0;
    padding: 0;
    background-image: url("{% static 'fondo_ce_gradient01.png' %}");
    background-size: cover;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Previene que haya scroll horizontal si el contenido excede el ancho */
    min-height: 100vh; /* cubre el 100% pantalla */
    width: 100%; /* cubre 100% ancho de la pantalla */
    max-width: 100%; /* Evita que el contenido se extienda demas */
    height: 100%;
    }
</style>

</head>
<body>

    <div class="blob blob1"></div>
    <div class="blob blob2"></div>
    <div class="blob blob3"></div>

    <!-- Encabezado -->
    <header>
        <div class="circle"></div>

        <div class="autenticacion">

            <a class="btn_login" href="{% url 'index_login' %}">Iniciar sesión</a> <!-- login -->
            <a class="btn_register" href="{% url 'index_register' %}">Registrar</a> <!-- register -->
        </div>
            
        <div class="icon_ConsoleXpress">
            <img src="{% static 'icono_ConsoleXpress.svg' %}" width="60px" height="60px">
        </div>

        <div class="line"></div>
            
    </header>

    

    <!-- Cuerpo de la pagina inicio -->
    <div class="main_inicio">
        <main>
            
            <div class="text_consoleXpress"> <h1>CONSOLEXPRESS</h1> </div>
            <div class="text_descripcion">  <h2>Somos tu tienda en línea especializada en consolas y accesorios. </h2>
            </div>

            <div>
                <!-- Botón explorar -->
                <a class="btn_explorar" href="{% url 'index_pant_prin' %}">
                    Explorar
                    <!--<img class="sparkle" src="{% static 'Inicio/stars_.png' %}" >-->
                </a>
            </div>
            
            <!-- Categorias iconos -->
            <div class="categorias_inicio">
                <div class="catg1">
                    <p>Consolas</p>
                    <img src="{% static 'Inicio/relleno_consola.png' %}" class="catg_cons">
                </div>

                <div class="catg2">
                    <p>Edición Especial</p>
                    <img src="{% static 'Inicio/relleno_consola_esp.png' %}" class="catg_cons_esp" > 
                </div>

                <div class="catg3">
                    <p>Accesorios</p>
                    <img src="{% static 'Inicio/relleno_accesorio_consola.png' %}" class="catg_cons_acc" >
                </div>

            </div>

        </main>

            <!-- Lado derecho de la pagina inicio -->
            <aside class="derecha_inicio">
                <div class="semicuadrado_rojo"> 

                    <div class="animation_console">
                        <div class="consola_img"> 
                            <img src="{% static 'consola_nintendo4k.png' %}" style="width: 580px;"> 
        
                            <!-- efectos -->
                            <div class="stars">
                                <!-- Estrella 1 -->
                                <svg class="star" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M93.781 51.578C95 50.969 96 49.359 96 48c0-1.375-1-2.969-2.219-3.578 0 0-22.868-1.514-31.781-10.422-8.915-8.91-10.438-31.781-10.438-31.781C50.969 1 49.375 0 48 0s-2.969 1-3.594 2.219c0 0-1.5 22.87-10.406 31.781-8.908 8.913-31.781 10.422-31.781 10.422C1 45.031 0 46.625 0 48c0 1.359 1 2.969 2.219 3.578 0 0 22.873 1.51 31.781 10.422 8.906 8.911 10.406 31.781 10.406 31.781C45.031 95 46.625 96 48 96s2.969-1 3.562-2.219c0 0 1.523-22.871 10.438-31.781 8.913-8.908 31.781-10.422 31.781-10.422Z" fill="#fff"/>
                                </svg>
                                <!-- Estrella 2 -->
                                <svg class="star" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M93.781 51.578C95 50.969 96 49.359 96 48c0-1.375-1-2.969-2.219-3.578 0 0-22.868-1.514-31.781-10.422-8.915-8.91-10.438-31.781-10.438-31.781C50.969 1 49.375 0 48 0s-2.969 1-3.594 2.219c0 0-1.5 22.87-10.406 31.781-8.908 8.913-31.781 10.422-31.781 10.422C1 45.031 0 46.625 0 48c0 1.359 1 2.969 2.219 3.578 0 0 22.873 1.51 31.781 10.422 8.906 8.911 10.406 31.781 10.406 31.781C45.031 95 46.625 96 48 96s2.969-1 3.562-2.219c0 0 1.523-22.871 10.438-31.781 8.913-8.908 31.781-10.422 31.781-10.422Z" fill="#fff"/>
                                </svg>
                                <!-- Estrella 3 -->
                                <svg class="star" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M93.781 51.578C95 50.969 96 49.359 96 48c0-1.375-1-2.969-2.219-3.578 0 0-22.868-1.514-31.781-10.422-8.915-8.91-10.438-31.781-10.438-31.781C50.969 1 49.375 0 48 0s-2.969 1-3.594 2.219c0 0-1.5 22.87-10.406 31.781-8.908 8.913-31.781 10.422-31.781 10.422C1 45.031 0 46.625 0 48c0 1.359 1 2.969 2.219 3.578 0 0 22.873 1.51 31.781 10.422 8.906 8.911 10.406 31.781 10.406 31.781C45.031 95 46.625 96 48 96s2.969-1 3.562-2.219c0 0 1.523-22.871 10.438-31.781 8.913-8.908 31.781-10.422 31.781-10.422Z" fill="#fff"/>
                                </svg>
                               
                              </div>

                        </div> 

                    </div>
                </div>
            </aside>

            <main>
                
            </main>
            

    </div>

    <div class="line2"></div>  

    <footer>
        <p>ConsoleXpress</p>
    </footer>
    

<script>
    // Selecciona el contenedor y la imagen
const container = document.querySelector('.animation_console');
const image = document.querySelector('.consola_img');

// Detecta el movimiento del mouse dentro del contenedor
container.addEventListener('mousemove', (event) => {
    const containerRect = container.getBoundingClientRect();
    const mouseX = event.clientX - containerRect.left; // Posición del mouse dentro del contenedor
    const mouseY = event.clientY - containerRect.top;

    // Calcula el movimiento relativo para la imagen
    const offsetX = (mouseX / containerRect.width - 0.5) * 15; // Ajusta el multiplicador (20) para más o menos movimiento
    const offsetY = (mouseY / containerRect.height - 0.5) * 15;

    // Aplica la transformación a la imagen
    image.style.transform = `translate(${offsetX}px, ${offsetY}px)`;
});
</script>
    
</body>
</html>