<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Fuentes utilizadas -->
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Inicio/style_inicio.css' %}">
    <link rel="website icon" href="{% static 'icon_consola.png' %}" type="image/png">

    <!-- Nombre e icono de sitio web -->
    <title>Inicio ConsoleXpress</title>

</head>
<body>
    
        <!-- Encabezado -->
        <header>
            <div>
                <a class="btn_login" href="{% url 'index_login' %}">Iniciar sesión</a> <!-- login -->
                <a class="btn_register" href="{% url 'index_register' %}">Registrar</a> <!-- register -->
            </div>
                
            <div class="icon_ConsoleXpress">
                <img src="{% static 'icono_ConsoleXpress.svg' %}" width="60px" height="60px">
            </div>
               
        </header>
    

        <!-- Cuerpo de la pagina inicio -->
    <div class="main_inicio">
        <main>
            
            <div class="text_consoleXpress"> <h1>ConsoleXpress</h1> </div>
            <div class="text_descripcion">  <h2>Tienda online
                de Consolas Switch y accesorios. </h2>
            </div>

            <div>
                <!-- Boton explorar -->
                <a class="btn_explorar" href="{% url 'index_pant_prin' %}">Explorar <span> <ion-icon name="chevron-forward-outline"></ion-icon></span></a>
                <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            </div>
            
            <!-- Categorias iconos -->
            <div class="categorias_inicio">
                <div class="catg1">
                    <p>Consolas</p>
                    <img src="{% static 'relleno_consola.png' %}" class="catg_cons">
                </div>

                <div class="catg2">
                    <p>Edición Especial</p>
                    <img src="{% static 'relleno_consola_esp.png' %}" class="catg_cons_esp" > 
                </div>

                <div class="catg3">
                    <p>Accesorios</p>
                    <img src="{% static 'relleno_accesorio_consola.png' %}" class="catg_cons_acc" >
                </div>

            </div>

        </main>

            <!-- Lado derecho de la pagina inicio -->
            <aside class="derecha_inicio">
                <div class="semicuadrado_rojo"> 

                    <div class="animation_console">
                        <div class="consola_img"> 
                            <img src="{% static 'consola_nintendo_oled.avif' %}" style="width: 580px;"> 
        
                                <div class="animation_sparkle">
                                    <img src="{% static 'images/sparkle.png' %}" alt="" class="star-1">
                                    <img src="{% static 'images/sparkle.png' %}" alt="" class="star-2">
                                </div>
                        </div> 

                    </div>

                    
                </div>
            </aside>

    </div>
    

    
</body>
</html>